.places
ac-comphist.dat
auto-save-list
backups
cider-history
elpa
ido.last
recentf
/eshell/
/projectile-bookmarks.eld
/url/
/music.bongo-library
/projectile.cache
/session.*
/bookmarks
/places
/smex-items
/*~

/network-security.data
/#ido.last#
