.places
ac-comphist.dat
auto-save-list
backups
cider-history
elpa
ido.last
recentf
/emms/
/eshell/
/projectile-bookmarks.eld
/url/
/music.bongo-library
/projectile.cache
/session.*
/bookmarks
/places
/smex-items
/*~
/network-security.data
/#ido.last#
.mc-lists.el
/saveplace
/transient
/.cache/
*~
/.#recentf
/localdata/
/projects
/tramp
